<%= form_for [current_user,@pet] , html: { multipart: true } do  |f| %>

    <% if @pet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @pet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :name, {class: 'form-control', placeholder: "Nombre"} %>
    </div>

    <div class="form-group">
      <%= f.text_field :breed, {class: 'form-control', placeholder: "Raza"} %>
    </div>

    <div class="form-group">
      <%= f.select :size, options_for_select(Pet.sizes.map {|k,v| [k,k]}) %>
    </div>

    <div class="form-group">
        <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit 'Guardar' , class: "btn btn-primary" %>
    </div>

<% end %>